
@{
    ViewData["Title"] = "Index";
}
@using SportskiCentar_ASA.Web
<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            @*<header class="panel-heading">
                <h3>DOBRO DOSLI</h3>
            </header>*@
            <div class="panel-body">
              <img style="width:75%" alt="" src="~/images/relax.jpg" />
                
            </div>
        </section>
    </section>
</section>

