@using SportskiCentar_ASA.Web.Areas.Administrator.ViewModels;
@model AjaxUposleniciVM


<table class="table">
    <thead>
        <tr>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Korisničko ime</td>
            <td>Akcija</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.uposlenici)
        {
            <tr>
                <td>@x.ime</td>
                <td>@x.prezime</td>
                <td>@x.username</td>
                <td>
                    <button id="btn1-@x.id" class="btn btn-primary">Uredi</button>
                    <button id="btn-@x.id" class="btn btn-danger">Obriši</button>
                    <script>
                        $("#btn1-@x.id").click(function myfunction() {
                            $.get("/Administrator/AjaxKorisnici/UrediUposlenika?id=@x.id", function (rezultat, status) {
                                $("#ajaxPoziv").html(rezultat);
                            })
                        }
                        );
                        $("#btn-@x.id").click(function myfunction() {
                            $.get("/Administrator/AjaxKorisnici/ObrisiUposlenika?id=@x.id", function (rezultat, status) {
                                $("#ajaxPoziv").html(rezultat);
                            })
                        }
                        );

                    </script>

                </td>
            </tr>
        }
    </tbody>
</table>

